In [156]:
import pandas as pd
import numpy as np

%run ../../UtilityPython.ipynb

In [157]:
from os import listdir

filepaths = [f for f in listdir("./Datasets") if f.endswith('.csv')]
print(filepaths)
filepaths=list(map(lambda x : './Datasets/' + x,filepaths))
print(filepaths)

df = pd.concat(map(lambda x : pd.read_csv(x, sep='~',error_bad_lines=False), filepaths))
df=df[df['FLAG MISURA MANCANTE']!='Y']

['202001_Report_settimanale_DSLAM-OLT_30_12_2019_05_01_2020.csv', '202002_Report_settimanale_DSLAM-OLT_06_01_2020_12_01_2020.csv', '202003_Report_settimanale_DSLAM-OLT_13_01_2020_19_01_2020.csv', '202004_Report_settimanale_DSLAM-OLT_20_01_2020_26_01_2020.csv']
['./Datasets/202001_Report_settimanale_DSLAM-OLT_30_12_2019_05_01_2020.csv', './Datasets/202002_Report_settimanale_DSLAM-OLT_06_01_2020_12_01_2020.csv', './Datasets/202003_Report_settimanale_DSLAM-OLT_13_01_2020_19_01_2020.csv', './Datasets/202004_Report_settimanale_DSLAM-OLT_20_01_2020_26_01_2020.csv']

C:\Users\ant.pagano\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DtypeWarning:

Columns (9,10,35,37,39,42,44,46,49,51,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,99,100,101,104) have mixed types.Specify dtype option on import or set low_memory=False.

C:\Users\ant.pagano\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DtypeWarning:

Columns (9,10,35,37,38,39,40,41,42,44,46,47,48,49,51,53,55,58,60,62,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,108,109,110,113) have mixed types.Specify dtype option on import or set low_memory=False.

C:\Users\ant.pagano\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: DtypeWarning:

Columns (35,37,38,39,40,41,42,44,46,47,48,49,51,53,55,58,60,62,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,108,109,110,113) have mixed types.Specify dtype option on import or set low_memory=False.

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107043 entries, 0 to 40608
Columns: 240 entries, CATEGORIA to TIPO GIORNO US 26_01_2020
dtypes: float64(18), object(222)
memory usage: 196.8+ MB

In [159]:
missing_data_count(df)

                                 Total   Percent
OTT                             106981  0.999421
FASCIA DI BANDA FERIALE DS      106964  0.999262
FASCIA DI BANDA COMPLESSIVA DS  106958  0.999206
FASCIA DI BANDA FESTIVA DS      106867  0.998356
TIPO GIORNO DS 07_01_2020        80988  0.756593
...                                ...       ...
MAX COMPLESSIVO US                   0  0.000000
MEDIA COMPLESSIVA DS                 0  0.000000
INTERVALLO MAX COMPLESSIVO DS        0  0.000000
MAX COMPLESSIVO DS                   0  0.000000
CATEGORIA                            0  0.000000

[240 rows x 2 columns]

In [160]:
df.groupby(['APPARATO','CATEGORIA','ID_MISURE_ATTESTAZIONE','WEEK']).size().to_frame('size').sort_values(['size'], ascending=[False])

                                                         size
APPARATO     CATEGORIA   ID_MISURE_ATTESTAZIONE WEEK
ABBIITAA-001 DIRETTI_ATM MGX92010/10.12         2020-03     1
PONTITAN-101 FIGLI_IP    0                      2020-04     1
PONTITAM-100 DIRETTI_IP  RGAPI002/101/0/0/2     2020-04     1
                                                2020-03     1
                                                2020-02     1
...                                                       ...
FOGGITAE-102 FIGLI_IP    0                      2020-04     1
                                                2020-03     1
                                                2020-02     1
                                                2020-01     1
ZOGNITAN-101 FIGLI_IP    0                      2020-04     1

[107043 rows x 1 columns]

Per la nostra analisi, abbiamo bisogno di sapere ogni apparato (identificato da APPARATO-CATEGORIA) a quale Provincia appartiene. Successivamente, per ogni apparato ci occorrono i picchi di traffico per ogni giornata. 
Le giornate da prendere sono del tipo ('MAX US dd_mm_yyyy', 'INTERVALLO MAX US dd_mm_yyyy', 'TIPO GIORNO US dd_mm_yyyy') e vanno dalla prima giornata del mese di Gennaio (30-12-2019) all'ultima della stessa (05-01-2020)

In [161]:
df_new1 = df.filter(regex='MAX US ')
df_new2 = df.filter(regex='TIPO GIORNO US ')
df_anag = df[['APPARATO', 'CATEGORIA','ID_MISURE_ATTESTAZIONE', 'PROVINCIA', 'LINEE RES', 'LINEE BUS', 'LINEE WHO']]
#df_new = pd.concat(df_example.filter(regex='MAX US '),df_example.filter(regex='TIPO GIORNO US '))
result = pd.concat([df_anag, df_new1, df_new2], axis=1, sort=False)
print("shape of beginner dataset :"+str(df.shape))
print("shape of result dataset :"+str(result.shape))
result.head()

shape of beginner dataset :(107043, 240)
shape of result dataset :(107043, 91)

,APPARATO,CATEGORIA,ID_MISURE_ATTESTAZIONE,PROVINCIA,LINEE RES,LINEE BUS,LINEE WHO,MAX US 30_12_2019,INTERVALLO MAX US 30_12_2019,MAX US 31_12_2019,...,TIPO GIORNO US 17_01_2020,TIPO GIORNO US 18_01_2020,TIPO GIORNO US 19_01_2020,TIPO GIORNO US 20_01_2020,TIPO GIORNO US 21_01_2020,TIPO GIORNO US 22_01_2020,TIPO GIORNO US 23_01_2020,TIPO GIORNO US 24_01_2020,TIPO GIORNO US 25_01_2020,TIPO GIORNO US 26_01_2020
0,NAPOITAY-200,KIT_VULA,KV-NA008/0/0/2,NaN,NaN,NaN,NaN,"193,7891",20:45,"164,3922",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRCEITAH-100,DIRETTI_IP,RGJRO002/11/2/1,RO,250.0,11.0,61.0,"8,2009",23:00,"7,7969",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENEITAF-200,KIT_VULA,KV-BN005/0/0/2,BN,NaN,NaN,NaN,"78,3678",18:00,"67,3439",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ORBEITBB-100,DIRETTI_IP,RGAGR002/0/7/1/9,GR,60.0,18.0,4.0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MLAZITAC-200,KIT_VULA,KV-ME012/0/0/2,ME,NaN,NaN,NaN,"168,6183",19:15,"142,9634",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
missing_data_count(result)

                              Total   Percent
INTERVALLO MAX US 09_01_2020  80988  0.756593
TIPO GIORNO US 12_01_2020     80988  0.756593
INTERVALLO MAX US 08_01_2020  80988  0.756593
MAX US 08_01_2020             80988  0.756593
MAX US 09_01_2020             80988  0.756593
...                             ...       ...
LINEE RES                     24362  0.227591
PROVINCIA                      3167  0.029586
ID_MISURE_ATTESTAZIONE            0  0.000000
CATEGORIA                         0  0.000000
APPARATO                          0  0.000000

[91 rows x 2 columns]

In [163]:
#Eliminiamo i dati di cui non abbiamo anagrafica (provincia o linee null)
result.dropna(subset = ['LINEE RES', 'LINEE BUS', 'LINEE WHO', 'PROVINCIA'],inplace=True)
missing_data_count(result)
print("shape of result dataset :"+str(result.shape))

                              Total  Percent
INTERVALLO MAX US 09_01_2020  60979  0.75772
TIPO GIORNO US 12_01_2020     60979  0.75772
INTERVALLO MAX US 08_01_2020  60979  0.75772
MAX US 08_01_2020             60979  0.75772
MAX US 09_01_2020             60979  0.75772
...                             ...      ...
LINEE RES                         0  0.00000
PROVINCIA                         0  0.00000
ID_MISURE_ATTESTAZIONE            0  0.00000
CATEGORIA                         0  0.00000
APPARATO                          0  0.00000

[91 rows x 2 columns]
shape of result dataset :(80477, 91)

In [166]:
#Calcolo le percentuali per ottenere ogni apparato quante tipologie di linee possiede
result['LINEE RES PERC']=result['LINEE RES']/(result['LINEE RES']+result['LINEE BUS']+result['LINEE WHO'])
result['LINEE BUS PERC']=result['LINEE BUS']/(result['LINEE RES']+result['LINEE BUS']+result['LINEE WHO'])
result['LINEE WHO PERC']=result['LINEE WHO']/(result['LINEE RES']+result['LINEE BUS']+result['LINEE WHO'])
result.drop(['LINEE RES', 'LINEE BUS', 'LINEE WHO'],axis=1,inplace=True)
result[['LINEE RES PERC','LINEE BUS PERC','LINEE WHO PERC']].head()

    LINEE RES PERC  LINEE BUS PERC  LINEE WHO PERC
1         0.776398        0.034161        0.189441
3         0.731707        0.219512        0.048780
6         0.905660        0.066038        0.028302
7         0.909091        0.090909        0.000000
11        0.778523        0.060403        0.161074

In [168]:
print("shape of result dataset before filter:"+str(result.shape))
result_f=result[result['LINEE RES PERC']>=0.75]
print("shape of result dataset after filter:"+str(result_f.shape))
result_f.drop(['LINEE RES PERC', 'LINEE BUS PERC', 'LINEE WHO PERC'],axis=1,inplace=True)

shape of result dataset before filter:(80477, 91)
shape of result dataset after filter:(22447, 91)

C:\Users\ant.pagano\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [170]:
result_f['ID']=result_f['APPARATO']+result_f['CATEGORIA']+result_f['ID_MISURE_ATTESTAZIONE']
result_f.drop(['APPARATO', 'CATEGORIA', 'ID_MISURE_ATTESTAZIONE'],axis=1,inplace=True)
result_f.head()

C:\Users\ant.pagano\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ant.pagano\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PROVINCIA,MAX US 30_12_2019,INTERVALLO MAX US 30_12_2019,MAX US 31_12_2019,INTERVALLO MAX US 31_12_2019,MAX US 01_01_2020,INTERVALLO MAX US 01_01_2020,MAX US 02_01_2020,INTERVALLO MAX US 02_01_2020,MAX US 03_01_2020,...,TIPO GIORNO US 18_01_2020,TIPO GIORNO US 19_01_2020,TIPO GIORNO US 20_01_2020,TIPO GIORNO US 21_01_2020,TIPO GIORNO US 22_01_2020,TIPO GIORNO US 23_01_2020,TIPO GIORNO US 24_01_2020,TIPO GIORNO US 25_01_2020,TIPO GIORNO US 26_01_2020,ID
1,RO,"8,2009",23:00,"7,7969",18:15,"8,4313",18:15,"8,287",12:45,"9,168",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRCEITAH-100DIRETTI_IPRGJRO002/11/2/1
6,UD,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29
7,MI,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MONZITBK-100DIRETTI_IPMD21MZ02/0/4
11,CS,"7,9641",20:30,"6,2235",15:45,"7,8342",18:45,"6,5199",21:45,"6,8472",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COSEITAD-100DIRETTI_IPRGACS001/0/0/1/5
12,VI,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CSTAITAD-100DIRETTI_IPRGJVI001/9/2/0

In [175]:
cols = ['ID']  + [col for col in result_f if col != 'ID']
result_f = result_f[cols]
result_f.head()

,ID,PROVINCIA,MAX US 30_12_2019,INTERVALLO MAX US 30_12_2019,MAX US 31_12_2019,INTERVALLO MAX US 31_12_2019,MAX US 01_01_2020,INTERVALLO MAX US 01_01_2020,MAX US 02_01_2020,INTERVALLO MAX US 02_01_2020,...,TIPO GIORNO US 17_01_2020,TIPO GIORNO US 18_01_2020,TIPO GIORNO US 19_01_2020,TIPO GIORNO US 20_01_2020,TIPO GIORNO US 21_01_2020,TIPO GIORNO US 22_01_2020,TIPO GIORNO US 23_01_2020,TIPO GIORNO US 24_01_2020,TIPO GIORNO US 25_01_2020,TIPO GIORNO US 26_01_2020
1,TRCEITAH-100DIRETTI_IPRGJRO002/11/2/1,RO,"8,2009",23:00,"7,7969",18:15,"8,4313",18:15,"8,287",12:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29,UD,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,MONZITBK-100DIRETTI_IPMD21MZ02/0/4,MI,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,COSEITAD-100DIRETTI_IPRGACS001/0/0/1/5,CS,"7,9641",20:30,"6,2235",15:45,"7,8342",18:45,"6,5199",21:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,CSTAITAD-100DIRETTI_IPRGJVI001/9/2/0,VI,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
result_f.groupby(['ID','PROVINCIA']).size().to_frame('size').sort_values(['size'], ascending=[False])

                                                     size
ID                                        PROVINCIA
ABBIITAB-100DIRETTI_IPRGAMI030/100/0/0/5  MI            4
PALEITAG-102FIGLI_IP0                     PA            4
PINEITGC-401MSANOLT                       TO            4
PINEITGC-400MSANOLT                       TO            4
PINEITGB-401MSANOLT                       TO            4
...                                                   ...
TRIVITAA-001MINIDSLAM0                    CB            1
LCCOITAP-101FIGLI_IP0                     LC            1
TRINITAD-100DIRETTI_IPRGABA005/100/0/0/39 BT            1
SONDITAV-100DIRETTI_IPMD21BS12/0/11       SO            1
RIVIITAD-001MINIDSLAM0                    UD            1

[6132 rows x 1 columns]

In [178]:
result_f[result_f['ID']=='COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29']

,ID,PROVINCIA,MAX US 30_12_2019,INTERVALLO MAX US 30_12_2019,MAX US 31_12_2019,INTERVALLO MAX US 31_12_2019,MAX US 01_01_2020,INTERVALLO MAX US 01_01_2020,MAX US 02_01_2020,INTERVALLO MAX US 02_01_2020,...,TIPO GIORNO US 17_01_2020,TIPO GIORNO US 18_01_2020,TIPO GIORNO US 19_01_2020,TIPO GIORNO US 20_01_2020,TIPO GIORNO US 21_01_2020,TIPO GIORNO US 22_01_2020,TIPO GIORNO US 23_01_2020,TIPO GIORNO US 24_01_2020,TIPO GIORNO US 25_01_2020,TIPO GIORNO US 26_01_2020
6,COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29,UD,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5343,COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29,UD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26014,COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29,UD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36334,COMEITAA-100DIRETTI_IPRGAUD001/102/0/0/29,UD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,0,0

Creiamo un nuovo dataframe con: (id, pro, data, max us, hour, type)

In [251]:
from datetime import date, timedelta

def reshape_df(df, start_date, end_date):
    sdate = datetime.datetime.strptime(start_date, '%d_%m_%Y')
    edate = datetime.datetime.strptime(end_date, '%d_%m_%Y')
    
    delta = edate - sdate       # as timedelta
    final = pd.DataFrame(columns = ['ID', 'PROVINCIA','DATA','MAX_US', 'INTERVALLO_MAX_US', 'TIPO_GIORNO_US'])
    
    for i in range(delta.days + 2):
        day = sdate + timedelta(days=i-1)
        
        tmp = df.filter(regex=datetime.datetime.strftime(day, '%d_%m_%Y')).rename(
            columns={'MAX US ' + datetime.datetime.strftime(day, '%d_%m_%Y'):'MAX_US',
                     'INTERVALLO MAX US ' + datetime.datetime.strftime(day, '%d_%m_%Y'):'INTERVALLO_MAX_US',
                     'TIPO GIORNO US '+datetime.datetime.strftime(day, '%d_%m_%Y'):'TIPO_GIORNO_US'})
        df_anag = df[['ID', 'PROVINCIA']]
        tmp1 = pd.concat([df_anag, tmp], axis=1, sort=False)
        tmp1.dropna(inplace=True)
        tmp1['DATA'] = day
        final=final.append(tmp1)
        
    return final

In [304]:
finale=reshape_df(result_f, '31_12_2019', '28_01_2020')
finale['DATA']=finale['DATA'].dt.strftime('%d-%m-%Y')
finale=finale[finale.MAX_US!='0']
finale.DATA.value_counts().sort_values

<bound method Series.sort_values of 28-01-2020    22447
27-01-2020    22447
14-01-2020     3291
01-01-2020     2769
06-01-2020     2768
03-01-2020     2730
02-01-2020     2727
30-12-2019     2720
04-01-2020     2677
26-01-2020     2643
25-01-2020     2635
05-01-2020     2628
19-01-2020     2622
31-12-2019     2591
12-01-2020     2588
18-01-2020     2582
11-01-2020     2573
07-01-2020     2522
20-01-2020     2490
23-01-2020     2487
24-01-2020     2478
15-01-2020     2467
08-01-2020     2460
17-01-2020     2451
10-01-2020     2440
09-01-2020     2438
21-01-2020     2435
22-01-2020     2431
16-01-2020     2430
13-01-2020     2428
Name: DATA, dtype: int64>

In [305]:
finale['MAX_US'] = finale['MAX_US'].str.replace(',', '.').astype(float)

In [306]:
finale.info()
#convertire MAX_US in float e DATA in format 'yyyy-mm-dd'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117395 entries, 1 to 40607
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 117395 non-null  object
 1   PROVINCIA          117395 non-null  object
 2   DATA               117395 non-null  object
 3   MAX_US             72501 non-null   float64
 4   INTERVALLO_MAX_US  72501 non-null   object
 5   TIPO_GIORNO_US     72501 non-null   object
dtypes: float64(1), object(5)
memory usage: 6.3+ MB

In [314]:
#Su DAZN Roma-Torino alle 20.45 del 05-01-2020
finale[(finale['PROVINCIA']=='RM') & (finale['DATA']=='05-01-2020')].groupby(['INTERVALLO_MAX_US']).agg(
    {'MAX_US': ['sum']}).sort_values(['INTERVALLO_MAX_US'])

                     MAX_US
                        sum
INTERVALLO_MAX_US
00:15               36.7920
00:30                4.7277
00:45                6.0072
01:00                4.8223
01:30                5.1235
03:30                6.9743
09:30                9.9943
10:30                9.0561
11:30               24.3679
13:15                7.5944
14:45                5.2305
15:00                8.2381
15:15               13.0720
15:45               37.8704
16:00                9.2594
16:15               25.1084
16:30                8.8254
16:45                7.3404
17:15               33.2167
17:30               17.7409
18:00               11.4268
18:15               35.0704
18:30               45.5720
18:45               32.8516
19:00               27.6638
19:15                4.8082
19:30               39.2155
19:45               24.5895
20:45              119.9351
21:00              117.2639
21:15              140.7434
21:30              179.4451
21:45              359.3255
22:00              646.8742
22:15              306.8383
22:30              639.0388
22:45               88.3525
23:00               17.8811
23:15               77.6466
23:45               54.4968

In [315]:
#Su Sky ROMA-Juve alle 20.45 del 12-01-2020
finale[(finale['PROVINCIA']=='RM') & (finale['DATA']=='12-01-2020')].groupby(['INTERVALLO_MAX_US']).agg(
    {'MAX_US': ['sum']}).sort_values(['INTERVALLO_MAX_US'])

                     MAX_US
                        sum
INTERVALLO_MAX_US
00:00               17.0391
01:45               10.4086
03:00                3.2525
10:15                5.5645
11:00               17.9639
11:15                8.6073
14:15               18.6509
14:30                7.2718
14:45                5.2995
15:00               11.6958
15:15                4.9102
15:30                8.6276
16:00               45.6167
16:15               19.5017
17:15               14.5086
17:30               17.6167
17:45               64.8958
18:00               53.1580
18:15               17.8604
18:30               83.5189
18:45              101.6352
19:00               38.0990
19:15               68.6226
19:30               98.6119
19:45              134.1454
20:00               17.2714
20:15               36.8820
20:30               52.6284
20:45               86.2983
21:00              206.6115
21:15              143.5517
21:30              307.9091
21:45              332.1593
22:00              251.1223
22:15               42.3511
22:30              425.7208
22:45              525.3167
23:00               33.0907
23:15               35.6839
23:30               11.3308
23:45                5.2184

In [317]:
#Su DAZN Sabato 11 gennaio 2020, ore 20.45, INTER-ATALANTA
finale[(finale['PROVINCIA']=='MI') & (finale['DATA']=='09-01-2020')].groupby(['INTERVALLO_MAX_US']).agg(
    {'MAX_US': ['sum']}).sort_values(['INTERVALLO_MAX_US'])

                     MAX_US
                        sum
INTERVALLO_MAX_US
00:00               10.1372
00:15               21.4575
02:45               78.3381
07:15               11.1523
08:00              124.8013
09:30               42.0795
10:15                4.0499
10:45               11.8765
11:30               11.5656
11:45                9.1385
13:00               66.6159
14:00               38.5927
14:30               12.1678
14:45               14.1789
15:00               15.0400
15:15              159.7093
15:30               14.9479
15:45               52.5768
16:00               16.5588
16:15                7.6312
16:30              126.0712
16:45               40.7550
17:00                9.1673
17:15              105.7761
17:30               85.3994
17:45               25.2317
18:00              109.3333
18:15               97.8156
18:30               40.3516
19:00                7.4479
19:15               88.4471
19:30               19.5734
20:00               20.1605
20:15               35.0257
20:30              128.8248
20:45              133.9496
21:00               80.1895
21:15              111.3942
21:30              288.9859
21:45              168.0325
22:00              179.8755
22:15              216.1497
22:30              137.6021
22:45               16.7680
23:00                9.0335
23:15               16.6179
23:30               70.7771
23:45                5.9123

In [311]:
#Su DAZN Domenica 26 gennaio 2020, ore 15.00, SAMPDORIA-SASSUOLO
#Domenica 26 gennaio 2020, ore 12.30, INTER-CAGLIARI

finale[(finale['PROVINCIA']=='GE') & (finale['DATA']=='26-01-2020')].groupby(['INTERVALLO_MAX_US']).agg(
    {'MAX_US': ['sum']}).sort_values(['INTERVALLO_MAX_US'])

                     MAX_US
                        sum
INTERVALLO_MAX_US
14:00               10.8163
14:30               10.6761
14:45               16.3200
16:15               24.7168
17:15               22.9077
17:45               24.3037
18:15               15.9725
18:45                8.9825
19:15               54.8652
19:45                8.9504
20:30               22.9488
21:00              154.6848
21:15               88.2270
21:30               32.2115
21:45               23.3139
22:30               33.5764

In [318]:
finale.to_csv (r'./datasets/final_dataset.csv', index = None, header=True)